* {
    font-family: 'Nunito';
} 

header {
    background-color: #E4E6C3;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    color: #5C5C5C;
    padding: 1em 0;
}

main{
    text-align: center;
    background-color: #F2B79F;
    height: 100vh; /*view port height é uma medida que espande para toda a tela*/
}
section figure img{
    border-radius: 50%;
    width: 144px;
    height: 144px;
}
figure {
    padding: 64px; /*espaçamento interno da borda pra dentro*/
}
figcaption{
    font-weight: 600;
    font-size: 20px;
    color:#5C5C5C;
}
ul{
    margin:auto;
    width: 30%; /*margem da borda pra fora*/
}
li{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px 32px 0px 0px;
    padding: 19px 0;
    margin: 16px 0;      
}
li a{
    text-decoration: none; /*serve para tirar a aparencia de clicado do link*/
    font-weight: 600;
    font-size: 20px;
    color:#5C5C5C; 
}