@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #394349 16.62%, #b5bdee 85.61%);
}

section figure img{
    border-radius: 50%;
    width: 144px;
    height: 144px;
}
figure {
    padding: 64px; /*espaçamento interno da borda pra dentro*/
}
figcaption{
    font-weight: 600;
    font-size: 20px;
    color:#edf1f5;
}
section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    gap: 32px;
}
div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

p {
    font-weight: 300;
    font-size: 20px;
    color:#edf1f5;
}
footer {

}